.footer {
  background-color: $slate;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 20px;

  @media(min-width: $medium) {
    flex-direction: row;
    justify-content: center;
    padding: 40px;
  }

  div {
    display: flex;
    //flex-grow: 1;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;

    @media (min-width: $small) {
      width: 45%;
    }

    @media (min-width: $medium) {
      margin: 0 40px;
      width: auto;
    }
  }


  h6 {
    font-size: 2rem;
    color: $white;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    margin-top: 5px;
    color: $white;
  }

  a {
    text-decoration: none;
    color: $white;
    transition: all 1s;
    font-size: 1.5rem;
    margin: 10px 0;
  }

  a:hover {
    color: $orange;
  }

  i{
    font-size: 2rem;
    margin-right: 15px;
    margin-bottom: 15px;
  }


}