#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-logo {
  img {
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
  }
}

.nav-items {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  position: fixed;
  width: 40%;
  left: 100%;
  top: 0;
  transition: all 0.5s ease-out;
  z-index: 2;
  background-color: $slate;
  border-left: 1px solid $grey;
  border-bottom: 1px solid $grey;


  @media(min-width: $medium) {
    position: static;
    width: 80%;
    flex-direction: row;
    border: none;
    background: none;
  }
}

.nav-items>div {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: baseline;
}

.nav-items a {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 20px;
  color: $black;
  transition: all .5s ease-in;
  border-top: 1px solid $grey;
  color: $white;
  flex-grow: 1;


  @media (min-width: $medium) {
    margin-right: 40px;
    padding: 0;
    font-size: 1rem;
    border: none;
    color: $black;
    flex-grow: 0;
  }

}

.nav-items a:hover {
  color: $orange;
}

.nav-close-button {
  align-self: flex-end;
  display: block;
  border: none !important;
  background: none !important;
  margin-left: auto;
  flex-grow: 0 !important;

  span {
    font-size: 3rem;
  }

  @media (min-width: $medium) {
    display: none;
  }
}


.nav-toggle-container {
  margin-left: auto;
  display: block;
  margin-right: 20px;

  @media (min-width: $medium) {
    display: none;
  }

  .nav-toggle {
    span {
      font-size: 3rem;
    }
  }
}


.move-left {
  left: 60% !important;
}

.nav-highlighted {
  color: $orange !important;
}