<div id="page-id">About Me</div>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 500px">
  <h1>Coming Soon</h1>


</div>


<p>
  About Me

  who knows what we will be making in the future
  rather than think of myself as an app developer,
  I call myself a problem solver and a creator

  coolest thing I made: We built an MVC application from scratch in one of our classes.

  Make a cool resume html file?
</p>

<div id="about-me">
  <h3>About Me</h3>
  <p id="photo-container"><img id="photo" src="img/circle-me.png" alt="A photo of Earl Tilluck" /></p>

  <p class="img-title">Earl Tilluck</p>

  <p>I am a highly motivated developer that can work well together with a variety of people,
    or alone without supervision. I am a Fast learner who can integrate quickly into an organization
    and bring value to their customers
  </p>


  <h3>Personality</h3>
  <ul>
    <li>Problem Solver.</li>
    <li>Self-Motivated.</li>
    <li>Team Worker.</li>
    <li>Flexibility In Mind.</li>
  </ul>
  <h3>Education</h3>
  <p>B.Sc. Internet Technology, COSTAATT Trinidad & Tobago. I have learned many things releated to
    Information Technology, Business and Graphic Design.
  </p>
  <h3>Skills</h3>
  <p>I am an all round Full Stack Developer with a variety of skills to fit in anywhere in the development cycle.
    I have experience using a variety of frameworks including NodeJs, Django, and Lavarel. I can also build MVC
    Frameworks from scratch if need be. I can also do Graphic Design for icons and UI elements.
  </p>