<div id="page-id">Experience</div>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-bottom: 500px">
  <h1>Coming Soon</h1>

  <h2 class="attention">It's not about building an app, it's about delivering an experience.</h2>

  

<p>Thus far I have been working feelance an a variety of projects in order to build my experience. I have
  created the e-commerce website for <a href="https://www.shopninjastt.com">ShopNinjasTT</a> which unfortunatley
  closed their
  business due to the 2020 pandemic and the Wordpress website for <a href="https://www.successstrategytt.com">Success
    Strategy Group Trinidad & Tobago.</a> You can check out my github profile to see some examples of what I can
  do.
</p>

<p>
  I am Familiar with a variety of languages including C#, Java, Javascript, Python, and Sass.
  I build with scalability in mind and I am comfortable working in all areas of development.
  I am self-motivated and always learning something new.
</p>

<p>TODO: add info on HackTT</p>

</div>



