<div id="page-id">Experience</div>
<p>Experience.</p>
<p>add info on HackTT</p>

<h3>Experience</h3>
<p>Thus far I have been working feelance an a variety of projects in order to build my experience. I have
  created the e-commerce website for <a href="https://www.shopninjastt.com">ShopNinjasTT</a> which unfortunatley
  closed their
  business due to the 2020 pandemic and the Wordpress website for <a href="https://www.successstrategytt.com">Success
    Strategy Group Trinidad & Tobago.</a> You can check out my github profile to see some examples of what I can
  do.
</p>