<div id="page-id">Experience</div>
<div class="page-title">
  <h1>Experience</h1>
</div>


<div class="experience-top">
  <p>
    Take a look at what I've been working on so far below. You can also check my
    <a href="https://github.com/earltilluck" target="_blank"><i class="fas fa-external-link-alt"></i> github</a>
    to see some more examples of what I can do.
  </p>
  <p>
    I am Familiar with a variety of languages including C#, Java, Javascript, Python, and Sass.
    I am self-motivated and comfortable working in all areas of development.
  </p>
</div>

<div class="experience-content">
  <h2>~2020</h2>
  <div class="twocol">
    <div class="twocol-img">
      <a href="/img/sgtt04.jpg" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/sgtt04.jpg" alt="success strategy screenshot"></a>
      <a href="/img/sgtt02.png" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/sgtt02.png" alt="success strategy logo"></a>
      <a href="/img/sgtt01.jpg" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/sgtt01.jpg" alt="success strategy facebook header"></a>
      <a href="/img/sgtt03.png" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/sgtt03.png" alt="success strategy ad mockup"></a>
    </div>
    <div class="twocol-content">
      <p>
        I created the wordpress website for
        <a href="https://www.successstrategytt.com" target="_blank"><i class="fas fa-external-link-alt"></i> Success
          Strategy Group TT.</a>
        I worked closely with the client to brand their new business venture which included creating their logo as well
        as their
        first facebook advertisement (last image).
      </p>
    </div>
  </div>
</div>



<div class="experience-content">
  <h2>~2019</h2>
  <div class="twocol">
    <div class="twocol-img">
      <a href="/img/shopninjas01.png" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/shopninjas01.png" alt="shopninjastt logo"></a>
      <a href="/img/shopninjas02.png" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/shopninjas02.png" alt="shopninjastt screenshot"></a>
    </div>
    <div class="twocol-content">
      <p>
        I created the e-commerce website for <a href="https://www.shopninjastt.com" target="_blank"><i
            class="fas fa-external-link-alt"></i> ShopNinjasTT
          (defunct)</a>
        which unfortunatley closed their business due to the covid-19 pandemic.
        This website was built on a budget for a local small business using the Woo-Commerce + Wordpress platform.
        In addition to the website, I managed their facebook page for a while.
      </p>
    </div>
  </div>
</div>

<div class="experience-content">
  <h2>~2019</h2>
  <div class="twocol">
    <div class="twocol-img">
      <a href="/img/hacktt01.jpg" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/hacktt01.jpg" alt="hacktt flyer"></a>
      <a href="/img/hacktt02.jpg" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/hacktt02.jpg" alt="hacktt photo"></a>
      <a href="/img/hacktt03.jpg" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/hacktt03.jpg" alt="hacktt semi-finalists"></a>
      <a href="/img/hacktt04.jpg" target="_blank"><i class="fas fa-external-link-alt"></i><img src="/img/hacktt04.jpg" alt="hacktt newspapers"></a>
    </div>
    <div class="twocol-content">
      <p>
        I participated in the HackTT 2019 competition held by the
        <a href="https://www.facebook.com/iGovTT/" target="_blank"><i class="fas fa-external-link-alt"></i> iGovTT
          organization</a>
        (National Information and Communication Technology Company of Trinidad & Tobago). We reached the finals
        but could not bring home the gold. Even so, We managed to impress them with our ability to problem solve and go
        the extra mile. Note: I'm the guy in the suit holding the poster in the middle.
      </p>
    </div>
  </div>
</div>




<div class="experience-after">
  <h2>It's not about building an app, it's about delivering an experience.</h2>
  <p>
    I am always learning something new.
  </p>
</div>