<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Earl Tilluck Developer</title>
  <!-- favicon -->
  <link rel="icon" href="/img/favicon.png">
  <!-- fonts, roboto, open sans, 300 and 700 -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
  <!-- Material Design Font. For Toggle Icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Brand Fonts -->
  <link href="css/font-mfizz-2.4.1/font-mfizz.css" rel="stylesheet">
  <!-- my styles -->
  <link rel="stylesheet" href="/css/style.css">
</head>