<!-- overlay div, a full screen overlay that displays when menu is visible on small screen -->
<div id="overlay"></div>
<!-- nav -->
<nav>
  <div class="nav-logo">
    <a href="/"><img src="/img/logo-orange.png" alt="My logo"></img></a>
  </div>
  <div class="nav-items">
    <div>
      <a href="/">Home</a>
      <a class="nav-close-button" aria-role="button" aria-lable="Close Menu">
        <i class="fas fa-times"></i>
      </a>
      
    </div>
    <a href="/examples.html">Examples</a>
    <a href="/experience.html">Experience</a>
    <a href="/reviews.html">Reviews</a>
    <a href="/about.html">About Me</a>
    <a href="/contact.html">Contact</a>
  </div>
  <div class="nav-toggle-container">
    <a class="nav-toggle" aria-role="button" aria-label="Menu"><i class="fas fa-bars"></i></a>
  </div>
</nav>