<!-- overlay div, a full screen overlay that displays when menu is visible on small screen -->
<div id="overlay"></div>
<!-- nav -->
<nav>
  <div class="nav-logo">
    <img src="/img/mylogo.svg" alt="My logo"></img>
  </div>
  <div class="nav-items">
    <a class="nav-close-button" aria-role="button" aria-lable="Close Menu"><span class="material-icons">close</span></a>
    <a href="#">Home</a>
    <a href="#">Examples</a>
    <a href="#">Experience</a>
    <a href="#">Reviews</a>
    <a href="#">Contact</a>
  </div>
  <div class="nav-toggle-container">
    <a class="nav-toggle" aria-role="button" aria-label="Menu"><span class="material-icons">menu</span></a>
  </div>
</nav>

