<div id="page-id">Home</div>

<div class="cover">
  <div class="circle"></div>
  <h1>Full Stack Developer.</h1>
  <h2>
    <span class='switch-me'>Beautiful</span>_
    <span class="orange">Web Design.</span>
  </h2>
</div>

<div class="home-section">
  <h2>What I can do:</h2>
  <div class="card">
    <h3>Backend</h3>
    <div>
      <div>
        <i class="icon-database"></i>
      </div>
      <ul>
        <li>Design and Build Databases.</li>
        <li>Always scalable.</li>
        <li>Oracle PL/SQL, MySQL, MongoDB.</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h3>Frameworks</h3>
    <div>
      <div>
        <i class="icon-html"></i>
      </div>
      <ul>
        <li>Built From Scratch or..</li>
        <li>React, Lavarel, Django.</li>
        <li>Will Learn new frameworks quickly.</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h3>Frontend</h3>
    <div>
      <div>
        <i class="icon-mobile-device"></i>
      </div>
      <ul>
        <li>Beautiful and responsive interfaces.</li>
        <li>Emphasis on usablility.</li>
        <li>Proficient with Adobe Illustrator.</li>
      </ul>
    </div>
  </div>
</div>

<div class="home-section">
  <h2>What I can learn:</h2>
  <div class="card">
    <h3 class="orange">Anything.</h3>
    <div>
      <div>
        <i class="fab fa-leanpub"></i>
      </div>
      <ul>
        <li>Since technology is always changing,</li>
        <li>it is more important to be adaptable.</li>
        <li>I am always learning something new.</li>
      </ul>
    </div>
  </div>
</div>

<div class="home-section">
  <h2>My Experience:</h2>
  <div class="card">
    <h3>Portfolio.</h3>
    <div>
      <div>
        <i class="far fa-folder-open"></i>
      </div>
      <ul>
        <li><a href="/examples.html">&rarr; Examples</a></li>
        <li><a href="/experience.html">&rarr; Experience</a></li>
        <li><a href="/reviews.html">&rarr; Reviews</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="home-section">
  <h2>Let's talk.</h2>
  <div class="two-buttons">
    <a class="btn-solid" href="/contact.html">&rarr; Contact</a>
    <a class="btn-outline" href="/reviews.html">&rarr; Reviews</a>
  </div>
  <p>
    I look forward to talking about what I can do for you.
  </p>
</div>


<div class="stack-icons">
  <i class="icon-html5"></i>
  <i class="icon-css3"></i>
  <i class="icon-sass"></i>

  <i class="icon-javascript-alt"></i>
  <i class="icon-nodejs"></i>
  <i class="icon-reactjs"></i>

  <i class="icon-php"></i>
  <i class="icon-laravel"></i>

  <i class="icon-mongodb"></i>
  <i class="icon-oracle-alt"></i>
  <i class="icon-mysql"></i>
  <i class="icon-mssql"></i>

  <i class="icon-magento"></i>
  <i class="icon-wordpress"></i>
  <i class="icon-unity"></i>
</div>