<div id="page-id">Home</div>

<div class="cover">
  <div class="circle"></div>
  <h1>Full Stack Developer.</h1>
  <h2>
    <span class='switch-me'>Beautiful</span>_
    <span class="orange">Web Design.</span>
  </h2>
</div>

<div id="home-section-1">
  <h2>What I can do:</h2>
  <div class="card">
    <h3>Backend</h3>
    <div>
      <div>
        <i class="icon-database"></i>
      </div>
      <ul>
        <li>Design and Build Databases.</li>
        <li>Always scalable.</li>
        <li>Oracle PL/SQL, MySQL, MongoDB.</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h3>Frameworks</h3>
    <div>
      <div>
        <i class="icon-html"></i>
      </div>
      <ul>
        <li>Built From Scratch or..</li>
        <li>React, Lavarel, Django.</li>
        <li>Will Learn new frameworks quickly.</li>
      </ul>
    </div>
  </div>

  <div class="card">
    <h3>Frontend</h3>
    <div>
      <div>
        <i class="icon-mobile-device"></i>
      </div>
      <ul>
        <li>Beautiful and responsive interfaces.</li>
        <li>Emphasis on usablility.</li>
        <li>Proficient with Adobe Illustrator.</li>
      </ul>
    </div>
  </div>
</div>

<div class="stack-icons">
  <i class="icon-html5"></i>
  <i class="icon-css3"></i>
  <i class="icon-sass"></i>

  <i class="icon-javascript-alt"></i>
  <i class="icon-nodejs"></i>
  <i class="icon-reactjs"></i>

  <i class="icon-php"></i>
  <i class="icon-laravel"></i>

  <i class="icon-mongodb"></i>
  <i class="icon-oracle-alt"></i>
  <i class="icon-mysql"></i>
  <i class="icon-mssql"></i>

  <i class="icon-magento"></i>
  <i class="icon-wordpress"></i>
  <i class="icon-unity"></i>
</div>




<div id="home-section-2">
  <h2>What I can learn</h2>
  <div>
    <h3>Anything.</h3>
    <p>
      I am always learning something new. Technology is always changing,
      so it's more important to be adaptable and open to new ideas.
    </p>

  </div>

</div>

<div class="in-between-home-section">
  <p>
    I am Familiar with a variety of languages including C#, Java, Javascript, Python, and Sass.
    I build with scalability in mind and I am comfortable working in all areas of development.
  </p>
</div>

<h2 class="attention">It's not about building an app, it's about delivering an experience.</h2>

<div id="home-section-3">
  <h2>Let's talk about what I can do for you.</h2>
  <div>
    <h3>Anything.</h3>
    <p>
      I am always learning something new. Technology is always changing,
      so it's more important to be adaptable and open to new ideas.
    </p>

  </div>

</div>