<div id="page-id">Home</div>

<div class="cover">
  <div class="circle"></div>
  <h1>Full Stack Developer.</h1>
  <h2> 
    <span class='switch-me'>Beautiful</span>_ 
    <span class="orange">Web Design.</span>
  </h2>
</div>

<h2 class="attention">It's not about building an app, it's about delivering an experience.</h2>

<div id="home-section-1">
  <h2>What I can do for you</h2>
  <div class="3col">
    <div>
      <h3>Backend</h3>
      <ul>
        <li>I can design and build Relational Databases.</li>
        <li>My work is always scalable.</li>
        <li>Experience with Oracle PL/SQL, MySQL, MongoDB.</li>
      </ul>
    </div>

    <div>
      <h3>Frameworks</h3>
      <ul>
        <li>I can build frameworks from scratch.</li>
        <li>Familiar with React, Lavarel, Django</li>
        <li>Can get up and running quickly with any new framework.</li>
      </ul>
    </div>

    <div>
      <h3>Frontend</h3>
      <ul>
        <li>I can design beautiful and responsive interfaces.</li>
        <li>Emphasis on usablility.</li>
        <li>Proficient with Adobe Illustrator.</li>
      </ul>
    </div>
  </div>

<p>
  I am Familiar with a variety of languages including C#, Java, Javascript, Python, and Sass. 
  I build with scalability in mind and I am comfortable working in all areas of development.
</p>

<div class="stack-icons">
  <i class="icon-html5"></i>
  <i class="icon-css"></i>
  <i class="icon-sass"></i>

  <i class="icon-javascript-alt"></i>
  <i class="icon-nodejs"></i>
  <i class="icon-reactjs"></i>

  <i class="icon-php"></i>
  <i class="icon-laravel"></i>

  <i class="icon-mongodb"></i>
  <i class="icon-oracle-alt"></i>
  <i class="icon-mysql"></i>
  <i class="icon-mssql"></i>

  <i class="icon-magento"></i>
  <i class="icon-wordpress"></i>
  <i class="icon-unity"></i>
</div>




<div id="home-section-2">
  <h2>What I can learn</h2>
  <div>
    <h3>Anything.</h3>
    <p>
      I am always learning something new. Technology is always changing, 
      so it's more important to be adaptable and open to new ideas.
    </p>
    
  </div>

</div>

<div id="home-section-3">
  <h2>Let's talk about what I can do for you.</h2>
  <div>
    <h3>Anything.</h3>
    <p>
      I am always learning something new. Technology is always changing,
      so it's more important to be adaptable and open to new ideas.
    </p>

  </div>

</div>