<div id="page-id">Reviews</div>

<div class="page-title">
  <h1>Reviews</h1>
</div>

<div class="reviews-list">

  <div class="review">
    <div class="review-image">
      <img src="/img/circle-rajeev.jpg" alt="Rajeev">
    </div>
    <div class="review-content">
      <p class="review-writeup">
        Earl is a diligent and hardworking individual who has an eye for detail.
        I found him to be very friendly as well as helpful.
        He not only has knowledge of web technology, but also has a good mind for business.
        He provided us with lots of valuable advice while we were starting up our business. 
        I beleive you will find him to be a very useful member to your team.
      </p>
      <div class="review-seperator"></div>
      <p class="review-from">Rajeev Paltoo.
      </p>
      <p class="review-from-about">
        Business Intelligence / Data Analyst at Cable & Wireless Communications
      </p>
      <p class="review-from-links">
        <a href="https://www.linkedin.com/in/rajeev-paltoo-7aa8411a1/"><i class="fab fa-linkedin"></i></a>
      </p>
    </div>
  </div>

</div>


<div class="review-after">
  <h2>More reviews will become available later.</h2>
</div>