<app-header></app-header>
<div class="container">
  <h1 class="mt-5 text-center">Full Stack Developer.</h1>
  <p class="mb-5 text-center">I am always learning something new.</p>

  <div class="row align-items-center justify-content-center">
    <div class="col-auto">
      <img
        src="assets/img/circle-me.png"
        alt="A photo of Earl Tilluck"
        class="img-fluid circle-me"
      />
    </div>
    <div class="col-auto">
      <p class="mb-0">earltilluck@hotmail.com</p>
      <p class="mb-0"><a href="https://github.com/EarlTilluck"> Github</a></p>
      <p class="mb-0">
        <a href="https://tt.linkedin.com/in/earl-tilluck"> Linkedin</a>
      </p>
    </div>
  </div>

  <div class="spacer"></div>

  <h3>What I can do:</h3>

  <div class="row justify-content-center">
    <div class="col-auto my-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Backend</h5>
          <ul>
            <li>Design and Build Databases.</li>
            <li>Always scalable.</li>
            <li>Oracle PL/SQL, MySQL, MongoDB.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto my-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Frontend</h5>
          <ul>
            <li>Beautiful and responsive interfaces.</li>
            <li>Emphasis on usablility.</li>
            <li>Proficient with Adobe Illustrator.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto my-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Frameworks</h5>
          <ul>
            <li>MVC Frameworks Built From Scratch</li>
            <li>React, Angular, Ionic.</li>
            <li>Will quicly learn new frameworks.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto my-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Skills</h5>
          <ul>
            <li>PHP, Javascript, Typescript</li>
            <li>HTML, CSS, Scss</li>
            <li>C#, Python, Java</li>
            <li>Illustrator, Photoshop</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto my-2">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Personality</h5>
          <ul>
            <li>Problem Solver.</li>
            <li>Self-Motivated.</li>
            <li>Team Worker.</li>
            <li>Fast Learner.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer"></div>
  <h3>What I can learn:</h3>
  <p class="bigtext">Anything.</p>
  <p>
    Since the web is always evolving, it is more important to be adaptable. I am
    a Fast learner who can integrate quickly into an organization and I am
    always learning new things.
  </p>
  <p>
    I am a highly motivated developer who can work well together with a variety
    of people, or alone without supervision.
  </p>

  <div class="spacer"></div>

  <h3>What I have done:</h3>
  <div class="experience-top">
    <p>
      <a href="https://github.com/earltilluck" target="_blank"
        >github profile</a
      >
    </p>
    <p class="mb-0">
      I am Familiar with a variety of languages including C#, Java, Javascript,
      Python, and Scss.
    </p>
    <p class="mb-0">
      I can work in various frameworks including react, angular, ionic and so
      on.
    </p>
    <p>
      I am self-motivated and comfortable working in all areas of development.
    </p>
  </div>

  <h6>~2019</h6>
  <div class="bordered">
    <div class="row text-center">
      <div class="col-sm-auto mb-2">
        <img
          src="/assets/img/shopninjas01.png"
          alt=""
          class="img-thumbnail me-5"
        />
      </div>
      <div class="col-sm-auto mb-2">
        <img src="/assets/img/shopninjas02.png" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div>
      <p class="mt-2">
        I created the e-commerce website for
        <a href="https://www.shopninjastt.com" target="_blank"
          >ShopNinjasTT (defunct)</a
        >
        which unfortunatley closed their business due to the covid-19 pandemic.
        This website was built on a budget for a local small business using the
        Woo-Commerce + Wordpress platform. In addition to the website, I managed
        their facebook page for a while.
      </p>
    </div>
  </div>

  <h6>~2019</h6>
  <div class="bordered">
    <div class="row text-center">
      <div class="col-sm-auto mb-2">
        <img src="/assets/img/hacktt01.jpg" alt="" class="img-thumbnail me-5" />
      </div>
      <div class="col-sm-auto mb-2">
        <img src="/assets/img/hacktt02.jpg" alt="" class="img-thumbnail" />
      </div>
      <div class="col-sm-auto mb-2">
        <img src="/assets/img/hacktt03.jpg" alt="" class="img-thumbnail me-5" />
      </div>
      <div class="col-sm-auto mb-2">
        <img src="/assets/img/hacktt04.jpg" alt="" class="img-thumbnail" />
      </div>
    </div>
    <div>
      <p class="mt-2">
        I participated in the HackTT 2019 competition held by the
        <a href="https://www.facebook.com/iGovTT/" target="_blank"
          >iGovTT organization</a
        >
        We reached the finals but could not bring home the gold. Even so, We
        managed to impress them with our ability to problem solve. Note: I'm the
        person in the suit holding the poster in the middle.
      </p>
    </div>
  </div>

  <div class="spacer"></div>
  <h3>It's not about the app, it's about the experience.</h3>
  <p>
    Rather than call myself a programmer, I think of myself as a problem solver.
    As technology and society advances, I will continue to make things "click"
    for people by connecting their passions, their ambitions and their dreams
    together on the internet.
  </p>

  <div class="spacer"></div>
  <h3>Reviews</h3>
  <div class="bordered">
    <div class="inner-review">
      <div class="row justify-content-center mb-2">
        <img
          src="/assets/img/circle-rajeev.png"
          alt="Rajeev"
          class="img-fluid circle-reviews mb-2"
        />
      </div>
      <blockquote class="review-writeup">
        Earl is a diligent and hardworking individual who has an eye for detail.
        I found him to be very friendly as well as helpful. He not only has
        knowledge of web technology, but also has a good mind for business. He
        provided us with lots of valuable advice while we were starting up our
        business. I beleive you will find him to be a very useful member to your
        team.
      </blockquote>
      <footer class="blockquote-footer">
        Rajeev Paltoo. | Data Analyst at Cable & Wireless Communications
      </footer>
      <a href="https://www.linkedin.com/in/rajeev-paltoo-7aa8411a1/"></a>
    </div>
    <h5 class="my-3 text-center">More reviews will become available later.</h5>
  </div>

  <h3 class="text-center my-5">End.</h3>
</div>
<!--end of container-->
