.footer {
  background-color: $slate;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  //align-items: center;
  padding: 40px 20px;

  @media(min-width: $medium) {
    //flex-direction: row;
    //justify-content: center;
    padding: 40px;
  }

  .footer-info {
    display: flex;
    //flex-grow: 1;
    margin: 0 40px;
    flex-direction: column;
    justify-content: flex-start;
    //width: 75%;

    @media (min-width: $medium) {
      //margin: 20px 40px;
      //width: auto;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: $white;
      transition: all 1s;
      font-size: 1.5rem;
      margin-right: 15px;
      margin-bottom: 15px;
    }


  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;

    div {
      //margin: 20px;
    }

    a {
      display: block;
      text-decoration: none;
      color: $white;
      transition: all 1s;
      font-size: 1.5rem;
      margin: 3px 15px;
    }
  }


  h6 {
    font-size: 2rem;
    color: $white;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    margin-top: 5px;
    color: $white;
  }



  a:hover {
    color: $orange;
  }

  i {
    font-size: 2rem;
  }


}