// fonts
$open-sans: 'Open Sans',
sans-serif;
$roboto: 'Roboto',
sans-serif;

// mobile first media lengths. 
// Set mobile styles as default, then additional styles per expanded view. 
// use @media(min-width: __) {}
$small: 576px;
$medium: 768px;
$large: 992px;
$exlarge: 1200px;

//colors
$white: #fff;
$black: #000;
$orange: #f85f1c;
$gainsboro: #e0e0e0;
$light-blue: #90AFC5;
$blue: #336B87;
$slate: #292929;
$brown: #763626;
$sweetcorn: #F2EDD7;
$toffee: #755139;
$grey: #444;
$turq: #4bc1ff;
$pink: #ff84af;
$coral: #ff9439;

.dblock {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.hidden {
  visibility: hidden !important;
}