<div id="page-id">About Me</div>

<div class="page-title">
  <h1>Earl Tilluck.</h1>
</div>


<div class="about-top">
  <div class="about-top-left">
    <img src="img/me.jpg" alt="A photo of Earl Tilluck" />
  </div>
  <div class="about-top-right">
    <h1>Full Stack Developer.</h1>
    <h2>I make things "click" for people.</h2>
    <p>
      Who knows what the future will look like on the internet?
      Rather than call myself a programer or designer, I think of myself as a problem solver.
      As technology, society and people continue to change, the one thing I'm sure about is that I
      will still be making things "click" for people. Whether it revolves around a business, hobby, or movement,
      I will be there: connecting people, their passions, their ambitions and their dreams together on the web.
    </p>
  </div>
</div>


<div class="about-topic">
  <div class="about-topic-header">
    <h2>Personality</h2>
  </div>
  <div class="about-topic-content">
    <ul>
      <li>Problem Solver.</li>
      <li>Self-Motivated.</li>
      <li>Team Worker.</li>
      <li>Fast Learner.</li>
      <li>Flexible.</li>
    </ul>
    <p>
      I am a highly motivated developer that can work well together with a variety of people,
      or alone without supervision. I am a Fast learner who can integrate quickly into an organization
      and bring value to their customers
    </p>
  </div>
</div>

<div class="about-topic">
  <div class="about-topic-header">
    <h2>Education</h2>
  </div>
  <div class="about-topic-content">
    <p>
      B.Sc. Internet Technology, College of Science, Technology and Applied Arts of Trinidad & Tobago. 
    </p>
    <p>
      I have learned many things releated to Information Technology, Business and Graphic Design.
    </p>
  </div>
</div>


<div class="about-topic">
  <div class="about-topic-header">
    <h2>Skills</h2>
  </div>
  <div class="about-topic-content">
    <ul>
      <li>NodeJs, React, Redux </li>
      <li>Python, Django</li>
      <li>PHP, lavarel</li>
      <li>Oracle PL/SQL, MySQL, MongoDB</li>
      <li>Adobe Illustrator</li>
    </ul>
    <p>
      I have a variety of skills related to web technology/design and can fit in anywhere in the development cycle.
      I have experience using a variety of frameworks including React, Django, and Lavarel. I can also build MVC
      Frameworks from scratch if need be. Furthermore, I can do Graphic Design for logos, icons and UI elements. 
      I can also create basic ads for facebook, linkedin etc.
    </p>
  </div>
</div>