<div id="page-id">Home</div>

<div class="cover">
  <div class="cover-overlay"></div>
  <div class="cover-content">
    <h1>Full Stack Developer.</h1>
    <h2>
      <span class='switch-me'>Beautiful</span>_
      <span class="orange">Web Design.</span>
    </h2>
  </div>
</div>

<div class="home-section">

  <div class="home-section-header">
    <h2>What I can do:</h2>
  </div>

  <div class="home-section-content">

    <div class="card">
      <div class="card-header">
        <h3>Backend</h3>
      </div>
      <div class="card-content">
        <div>
          <i class="icon-database"></i>
        </div>
        <ul>
          <li>Design and Build Databases.</li>
          <li>Always scalable.</li>
          <li>Oracle PL/SQL, MySQL, MongoDB.</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3>Frameworks</h3>
      </div>
      <div class="card-content">
        <div>
          <i class="fas fa-code"></i>
        </div>
        <ul>
          <li>Built From Scratch or..</li>
          <li>React, Lavarel, Django.</li>
          <li>Will Learn new frameworks quickly.</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3>Frontend</h3>
      </div>
      <div class="card-content">
        <div>
          <i class="icon-mobile-device"></i>
        </div>
        <ul>
          <li>Beautiful and responsive interfaces.</li>
          <li>Emphasis on usablility.</li>
          <li>Proficient with Adobe Illustrator.</li>
        </ul>
      </div>
    </div>

  </div>

</div>

<div class="home-section">
  <div class="home-section-header">
    <h2>What I can learn:</h2>
  </div>
  <div class="home-section-content">
    <div class="card">
      <div class="card-header">
        <h3 class="orange">Anything.</h3>
      </div>
      <div class="card-content">
        <div>
          <i class="fab fa-leanpub"></i>
        </div>
        <ul>
          <li>Since the web is always evolving,</li>
          <li>it is more important to be adaptable.</li>
          <li>I am always learning new things.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="home-section">
  <div class="home-section-header">
    <h2>What I have done:</h2>
  </div>
  <div class="home-section-content">
    <div class="card">
      <div class="card-header">
        <h3>Portfolio:</h3>
      </div>
      <div class="card-content">
        <div>
          <i class="far fa-folder-open"></i>
        </div>
        <div class="card-btns">
          <a href="/examples.html">&rarr; Examples</a>
          <a href="/experience.html">&rarr; Experience</a>
          <a href="/reviews.html">&rarr; Reviews</a>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="home-section">
  <div class="home-section-header">
    <h2>Let's Talk about what I can do for you.</h2>
  </div>

  <div class="two-buttons">
    <a class="btn-solid" href="/contact.html">&rarr; Contact</a>
    <a class="btn-outline" href="/reviews.html">&rarr; Reviews</a>
  </div>
  <div class="home-section-header">
    <p>I look forward to hearing from you.</p>
  </div>
</div>


<div class="stack-icons">
  <i class="icon-html5"></i>
  <i class="icon-css3"></i>
  <i class="icon-sass"></i>

  <i class="icon-javascript-alt"></i>
  <i class="icon-nodejs"></i>
  <i class="icon-reactjs"></i>

  <i class="icon-php"></i>
  <i class="icon-laravel"></i>

  <i class="icon-mongodb"></i>
  <i class="icon-oracle-alt"></i>
  <i class="icon-mysql"></i>
  <i class="icon-mssql"></i>

  <i class="icon-magento"></i>
  <i class="icon-wordpress"></i>
  <i class="icon-unity"></i>
</div>
